<%- include('header') -%>

<h1>Lorem ipsum dolor sit amet.</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sunt incidunt delectus? Aperiam itaque culpa, obcaecati aliquam natus recusandae vitae rem sapiente, maiores numquam pariatur.</p>

<%- include('footer') -%>